// Шрифты

$deafult-font: 		'Open Sans', sans-serif;
$header-font:       'Acumin Pro';
$symbol-font:       'Segoe UI Emoji';
$kids-font:         'Literata', serif;

// Цвета

$black-color:           #000;
$dark-gray-color:       #171717;
$gray-color:            #535353;
$middle-gray-color:     #6a6a6a;
$light-gray-color:      #a0a0a0;
$lighter-gray-color:    #f0f0f0;

$white-color: 	        #fff;
$dark-white-color:      #e4e4e4;

$accent-color:          #ad1e2f;

$blued-color:           #016596;
$dark-blue-color:       #201e46;
$blue-color:            #4169e1;
$light-blue-color:      #97acee;

$yellow-color:          #ffb400;

$maroon-color:          #3c1717;


$darken-violet-color:   #180d14;
$dark-violet-color:     #271b23;
$violet-color:          #3e1a2e;
$light-violet-color:    #7d6775;