#choose {
  padding-top: 45px;

  .content {
    padding-top: 0;

    h2 {
      margin-bottom: 25px;
    }

    .choose__block {
      min-width: 286px;
      background: $lighter-gray-color;

      text-align: center;

      padding: 25px;

      @extend %border-box;

      @media only screen and (max-width: 1200px), (orientation: portrait) {
        width: 49%;
        min-width: auto;

        margin-bottom: 15px;

        br {
          display: none;
        }
      }

      @media only screen and (max-width: 520px), (orientation: portrait) {
        margin-bottom: 8px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}