#commitment {

  // variant 1
  /////////////////////////////////////////////////////////////
  @include background-size-image(background_commitmenta, 596px);
  @include background-png(background_commitmenta,top);
  background-position: 0 10%;

  //   // variant 2
  // // /////////////////////////////////////////////////////////////
  // @include background-size-image(background_commitmenta, 596px);
  // @include background-png(background_commitmenta,top);
  // background-position:bottom;
  


  //   /// variant 3
  // ///////////////////////////////////////////////////////////
  // @include background-size-image(background_commitmentb, 596px);
  // @include background-png(background_commitmentb,top);
  // background-position: bottom;

       // variant 4
  // /////////////////////////////////////////////////////////////
  // @include background-size-image(background_commitmentb, 596px);
  // @include background-png(background_commitmentb,top);
  // background-position: 0 50%;

         // variant 5
  /////////////////////////////////////////////////////////////
  // @include background-size-image(background_commitmente, 596px);
  // @include background-png(background_commitmente,top);
  // background-position: 0 50%;


  //        // variant 6
  // /////////////////////////////////////////////////////////////
  // @include background-size-image(background_commitmentf, 596px);
  // @include background-png(background_commitmentf,top);
  // background-position: 0 50%;




  // @include background-size-image(background_commitment1, 596px);
  // @include background-png(background_commitment1, center);

  .commitment {
    &__left,
    &__right {
      width: 49%;
    }

    &__left {
      @include check($accent-color);
      @extend %border-box;

      background: $white-color;
      color: $black-color;

      padding: 40px 30px 55px;

      @media only screen and (max-width: 980px), (orientation: portrait) {
        width: 49%;
      }

      @media only screen and (max-width: 800px), (orientation: portrait) {
        width: 100%;
      }

      @media only screen and (max-width: 680px), (orientation: portrait) {
        padding: 30px 15px 35px;
      }

    }

    &__right {
      // @extend %border-box;
      background: $white-color;
      color: $black-color;
      // background-color: rgba(173, 30, 47, .9);

      padding: 40px 30px 55px;

      // padding-top: 50px;
      // padding-left: 50px;
      // margin-top: 15px;

      // @media only screen and (max-width: 1200px), (orientation: portrait) {
      //   width: 45%;
      //   padding-left: 30px;
      // }

      // @media only screen and (max-width: 800px), (orientation: portrait) {
      //   width: 100%;

      //   padding-top: 30px;
      //   padding-left: 0;
      // }

      @media only screen and (max-width: 980px), (orientation: portrait) {
        width: 49%;
      }

      @media only screen and (max-width: 800px), (orientation: portrait) {
        width: 100%;
      }

      @media only screen and (max-width: 680px), (orientation: portrait) {
        padding: 30px 15px 35px;
      }


      h2 {
        font-size: 36px;
        line-height: 38px;
        // text-shadow: 0px 0px 1px black, 0 0 5px black;

        @media only screen and (max-width: 520px), (orientation: portrait) {
          font-size: 32px;
          
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
        // text-shadow:  0px 0px 1px black, 0 0 5px black;
      }
    }
  }
}