#usefulInfo {
  background:  $lighter-gray-color;

  .description {
    background-color: white;
    padding-bottom: 30px;
  }
}

.usefulInfo{

  @media only screen and (max-width: 980px), (orientation: portrait) {
    &__content {
      flex-wrap: wrap;
    }
  }


  .usefulInfo__content {
    background: $lighter-gray-color;
    padding: 30px 0 0;
    flex-wrap: wrap;

    .main-info {
      max-width: 73%;
          width: 100%;

      @media only screen and (max-width: 1200px), (orientation: portrait) {
        max-width: 68%;
      }

      @media only screen and (max-width: 980px), (orientation: portrait) {
        max-width: 100%;
      }
    }


    .usefulInfo-sidebar {
      max-width: 26%;
      width: 100%;

      @media only screen and (max-width: 1200px), (orientation: portrait) {
        max-width: 30%;
      }

      @media only screen and (max-width: 980px), (orientation: portrait) {
        max-width: 100%;
      }

      .sidebar-button {
        height: 40px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        background-color: $white-color;
        margin-bottom: 5px;
        @include white-border();
        cursor: pointer;

        p{line-height: 25px;}

        &:hover {
          @include transition;
          background-color: $blue-color;
          p{
            color: $white-color;
            
          }
        }
        
        @media only screen and (max-width: 1200px), (orientation: portrait) {
          max-width: 100%;
        }
  
        @media only screen and (max-width: 980px), (orientation: portrait) {
          max-width: 50%;
        }
        
      }
      button {
        max-width: 100%;
        height: 50px;
        margin-bottom: 30px;
        margin-top: 30px;

        @media only screen and (max-width: 1200px), (orientation: portrait) {
          margin-top: 30px;
        }
  
        @media only screen and (max-width: 980px), (orientation: portrait) {
          margin-top: 3px;
        }

      }

    }
    

    .usefulInfo__block {
        position: relative;
        cursor: pointer;
        overflow-x: hidden;
        width: 32%;
        margin-bottom: 20px;

        @media (min-width: 1281px) {
          width: 49%;
        }
        
        
        @media (min-width: 481px) and (max-width: 1280px) {
           width: 49%;
        }
        
        
        @media (min-width: 320px) and (max-width: 480px) {
          
          width: 100%;  
        }

        img {
            max-height: 445px;
        }

    .usefulInfo__description{
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        width: calc(100% - 40px);
        background: #fff;
        text-align: center;
        padding: 25px 25px 30px;
        margin: auto;
        
            p::after {
                position: absolute;
                content: '\2192';
                font-family: "Segoe UI Emoji";
                font-size: 16px;
                color: #ad1e2f;
                margin-left: 5px;
            }
        }  

    }

    .usefulInfo__block:hover{ 
      
      .usefulInfo__description h3 {
         @include transition;
          color: $accent-color;
      }
      // img{
      //   @include transition;
      //   filter: brightness(0.9);
      // }

      // box-shadow: 0 -10px 55px rgba(0,0,0,0.5);
    }

  }

}